/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    font-family:Verdana,SolaimanLipi;
    background: #eee;
    font-size: 15px;
}
.btn,a,button,.btn:focus,a:focus,button:focus,.btn:active,a:active,button:active{
    outline: 0!important;
}
.custom_margin{
    margin: 0px 0 17px 0;
}
#merge_sec .control-label{
    padding: 0;
}
body {
    padding-top: 70px;
}
#suggestion_page .suggestion{
    position: absolute;
    top: 33px;
    min-width: 85.5%;
    z-index: 99;
}
#landing_page .suggestion .list-group-item{
    padding: 4px;
}
#landing_page .suggestion .list-group-item:first-child{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
footer {
    padding: 30px 0;
}
.custom_c{
    color: #f00;
}
.box.box-poth{
    border-top-color:#0099ff;
}
.navbar-inverse{
    background-color:#0099cc;
    border-color:#0066cc;
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #fff;
    background: #006699;
}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a{
    background: #006699;
}
#profile .box-comments .comment-text{
    margin-left: 0;
}
.label-white{
    background-color: #fff;
    color: #000;
}
#route_detail .remove_bottom_margin{
    margin-bottom: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.open{
    z-index: 9999;
}
.breadcrumb{
    background-color: #eee;
}
.margin_top{
    margin-top: 5px;
}
#lang_menu .padding_left{
    padding-left: 5px;
}
#landing_page .suggestion .selected{
    background: #eee;
}