/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
    font-family:Verdana,SolaimanLipi;
    background: #eee;
    font-size: 15px;
}
.btn,a,button,.btn:focus,a:focus,button:focus,.btn:active,a:active,button:active{
    outline: 0!important;
}
.custom_margin{
    margin: 0px 0 17px 0;
}
#merge_sec .control-label{
    padding: 0;
}
body {
    padding-top: 70px;
}
#suggestion_page .suggestion{
    position: absolute;
    top: 33px;
    min-width: 85.5%;
    z-index: 999999;
}
#suggestion_page .suggestion .list-group-item{
    padding: 4px;
}
#suggestion_page .suggestion .list-group-item:first-child{
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}
footer {
    padding: 30px 0;
}
.custom_c{
    color: #f00;
}
.box.box-poth{
    border-top-color:#0099ff;
}
.navbar-inverse{
    background-color:#0099cc;
    border-color:#0066cc;
}
.navbar-inverse .navbar-brand,.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #fff;
    background: #006699;
}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus,.navbar-inverse .navbar-nav>.active>a{
    background: #006699;
}
#profile .box-comments .comment-text{
    margin-left: 0;
}
.label-white{
    background-color: #fff;
    color: #000;
}
#route_detail .remove_bottom_margin{
    margin-bottom: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.open{
    z-index: 9999;
}
.breadcrumb{
    background-color: #eee;
}
.margin_top{
    margin-top: 5px;
}
#lang_menu .padding_left{
    padding-left: 5px;
}
#suggestion_page .suggestion .selected{
    background: #eee;
}

a.details:hover{
    text-decoration: underline;
}
#comments .direct-chat-messages{
    height: auto;
}
#stoppage_section .stoppage{
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#footer_nav li{
    list-style: none;
    float: left;
    margin-left: 10px;
}
#footer_nav li a:hover{
    text-decoration: underline;
    color: #000;
}
#footer_nav li a:active,#footer_nav li a:focus{
    color: #000;
}
#footer_nav{
    overflow: hidden;
    padding-left: 0;
}
#footer_section{
    background: #fff;
    padding-top: 15px;
}


#social_link1,#social_link2{
    position:fixed;
    top:50px;
    right:0;
    min-width:40px;
    padding:3px 5px;
    background:#eee;
    text-decoration: none;
   /*  border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    border-left:1px solid #eee; */
}
#social_link2{
    top:96px;
}

#social_link1:hover{
    background:#3a5795;
    color: #fff;
}
#social_link2:hover{
    background:#0084B4;
    color: #fff;
}